@layer reset {
	/*
		Josh's Custom CSS Reset
		https://www.joshwcomeau.com/css/custom-css-reset/
	*/
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}
	* {
		margin: 0;
	}
	body {
		line-height: 1.5;
		-webkit-font-smoothing: antialiased;
	}
	img,
	picture,
	video,
	canvas,
	svg {
		display: block;
		max-width: 100%;
	}
	input,
	button,
	textarea,
	select {
		font: inherit;
	}
	p,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		overflow-wrap: break-word;
	}
	#root,
	#__next {
		isolation: isolate;
	}
}

@layer default {
	html,
	body {
		max-width: 100vw;
		overflow-x: hidden;
		min-height: 100vh;
	}

	body {
		font-family: "Roboto", Arial, Helvetica, sans-serif;
		font-size: 16px;
		line-height: 1.5;
		background-color: var(--color-background);
		color: var(--color-text);

		*::selection {
			/* background-color: var(--color-light); */
			/* color: var(--color-dark); */
		}
	}

	a {
		color: inherit;
		text-decoration: none;

		p & {
			text-decoration: underline;
		}
	}
}

:root {
	--color-black: #000;

	--color-green: #00712d;
	--color-lime: #d5ed9f;
	--color-orange: #ff9100;
	--color-white: #fffbe6;

	--color-background: var(--color-white);
	--color-text: var(--color-black);

	--site-padding-mobile: 4%;
	--site-padding-normal: 50px;
	--site-padding-wide: 90px;
	--site-padding: var(--site-padding-mobile);

	--header-height: 45px;
}

@media (prefers-color-scheme: dark) {
	:root {
		--color-background: var(--color-black);
		--color-text: var(--color-white);
	}
}

@media screen and (min-width: 768px) {
	:root {
		--site-padding: var(--site-padding-normal);
	}
}

@media screen and (min-width: 1440px) {
	:root {
		--site-padding: var(--site-padding-wide);
	}
}
