.item {
	display: grid;
	grid-template-columns: 1fr auto;
	align-items: center;

	&:not(:last-child) {
		padding-bottom: 15px;
		border-bottom: 1px solid var(--color-black);
		margin-bottom: 15px;
	}
}

.title {
	font-weight: 700;
	font-size: 24px;
	margin-bottom: 5px;
}

.price {
	display: flex;
	flex-flow: column nowrap;
	align-items: flex-end;

	& span {
		font-weight: 500;
		margin-right: 5px;
	}
}

.remove {
	color: var(--color-green);
	text-decoration: underline;
}
