.ctn {
	display: flex;
	justify-content: space-between;
	padding: 10px var(--site-padding);
}

.logo {
	display: inline-flex;
	width: min(100%, 125px);
	align-items: center;
}

.nav {
	display: flex;
	align-items: center;

	& a,
	& button {
		position: relative;
		display: inline-block;
		padding: 5px 10px;
		transition: color 0.3s ease;

		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			position: absolute;
			top: 100%;
			left: 50%;
			scale: 0 1;
			background-color: currentColor;
			translate: -50% 0;
			transition: scale 0.3s ease;
		}

		&:hover {
			color: var(--color-orange);

			&:after {
				scale: 1 1;
			}
		}
	}
}

.cart-btn {
	& svg {
		width: 20px;
		aspect-ratio: 1;

		& path {
			fill: currentColor;
		}
	}
}

@media screen and (min-width: 768px) {
	.header,
	.ctn {
		height: var(--header-height);
	}

	.ctn {
		position: fixed;
		z-index: 20;
		inset: 0 0 auto;
		backdrop-filter: blur(6px);
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
	}
}
